{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <script src="{% static 'login.js' %}"></script>
</head>
<body>
<title>Conectar</title>

</body>
</html>


<div class="login-page">
  <div class="form">
    <form class="register-form" action="auth/" method="post">
      {% csrf_token %}
      {{form}}
      <button type="submit">Conectar-se</button>
      <p class="message">Não tem login? <a href="../register/0">Cadastrar</a></p>
    </form>
  </div>
</div>