{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <script src="{% static 'js/vote.js' %}"></script>
    <title>Vote</title>
</head>

<body>
    <form>
        <h1>Presidente</h1>
        <input type="text" pattern="[0-9]" oninput="getCandidate(this)">
        <div class="buttons">
            <button type="submit">Confirmar</button>
            <button type="submit">Cancelar</button>
        </div>
    </form>

    <div class="candidato">
        <img src="#" id="candidateImg">
        <h1 id="candidateName"></h1>
        <p id="candidateParty"></p>
        <p id="candidateDesc"></p>
    </div>
</body>
</html>