{% load static %}
<!-- feito por vargas -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <script src="{% static 'js/vote.js' %}"></script>
    <title>Vote</title>
</head>

<body>
    <form action="vote/" method="post">
        {% csrf_token %}
        <h1>Presidente</h1>
        <input type="text" pattern="[0-9]?[0-9]" oninput="getCandidate(this)" id="vote" name="vote">
        <div class="buttons">
            <button type="submit">Confirmar</button>
        </div>
    </form>

    <div id="candidato">
        <div id="imagem">
            <img src="#" id="candidateImg" onload="returnValues()">
        </div>
        <h1 id="candidateName"></h1>
        <p id="candidateParty"></p>
        <br>
        <p id="candidateDesc"></p>
    </div>
</body>

<script>
    document.getElementById("candidato").style.display = "none";
</script>

</html>
